
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@{ 
    var grafik = new Chart(width:500, height:500);
    grafik.AddTitle(text: "Kategoriler ve Urun Sayilari");
    grafik.AddLegend(title: "Degerler");


    grafik.AddSeries(

        name: "veriler",chartType:"Pie"
       , xValue: new[] { "Beeyaz esya", "Televizyon" },
        yValues: new[] { 500, 400 }

        );
    grafik.Write();
}